@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
 background-color: #070C1A;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
  color: #C9A84C;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #101F48;
}

::-webkit-scrollbar-thumb {
  background: #C9A84C;
  border-radius: 3px;
}
